:root {
    --main-color: darkblue;
    --secondary-color: lightblue;
    --text-color: white;
}


nav {background-color: var(--main-color); padding: 10px;}

nav a {color: var(--text-color); display: block; padding: 20px;}
h1 {color: var(--main-color);}
main img {width: 150px;
     height: auto;
     padding: 0px;
     border: 1px solid #333;
     box-shadow: 0 0 10px black;
}
p {padding: 0;}
main {max-width: 800px;}
aside {width: 200px;
       padding: 10px;
       background-color: var(--secondary-color);
       margin: 20px;
       color: #333;
       text-align: center;
       border: 1px solid rgb(0, 0, 0, 0.2);
} 
aside img {width: 200px;
             height: auto;
}
footer {margin-top: 20px;
        padding: 10px;
        border-top: 1px solid black;
        text-align: center;
}